.modal-containers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: rgb(182, 177, 177);
    opacity: .5;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 31;
    background-color: rgb(255, 255, 255);
}

.modal h1 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: rgb(80, 236, 236);
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.modal .project-color-tag {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 80%;
    top: 64px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.modal .palette {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.modal .palette img {
    width: 30px;
    height: 30px;
    background-size: cover;
}


.modal .color {
    position: absolute;
    left: 63%;
    top: 19.5%;
    z-index: 32;
}

.modal .project-title {
    width: 60%;
    height: 10%;
    margin-bottom: 30px;
    border: none;
    background-color: rgba(239, 237, 237, 0.586);
    outline: none;
    position: absolute;
    left: 50%;
    top: 40%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.modal .sub-title {
    width: 60%;
    height: 10%;
    margin-bottom: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgba(239, 237, 237, 0.586);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.modal .modal-p1 {
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 1rem;
    color: red;
}

.modal .modal-p1 span {
    color: red;
}

.modal .modal-p2 {
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 1rem;
    color: red;
}

.buttons {
    position: absolute;
    left: 18.5%;
    top: 75%;
    width: 63.5%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 40%;
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.buttons .create {
    background-color: rgb(179, 243, 243);
    border: none;
}


.buttons .create:hover {
    background-color: rgba(200, 248, 248, 0.747);
    cursor: pointer;
}

.buttons .cancel {
    background-color: rgba(211, 209, 209, 0.618);
    border: none;
}

.buttons .cancel:hover {
    background-color: rgba(211, 209, 209, 0.395);
    cursor: pointer;
}

