.modal-containers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgb(182, 177, 177);
    opacity: .5;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 35vw;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid rgb(80, 236, 236);
    z-index: 7;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.fadein {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 35vw;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.fadeout {
    position: absolute;
    top: 1000px;
    left: 50%;
    width: 50%;
    height: 35vw;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.modal h1 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: rgb(80, 236, 236);
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.modal .project-color-tag {
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 78%;
    top: 12.5%;
    border-radius: 2vw;
    border: 2px solid black;
    cursor: pointer;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 4px;
    }
}

.modal .project-color-tag .notification {
    width: 15vw;
    height: 20px;
    position: absolute;
    right: 0px;
    top: -2px;
    transform: translate(43%, -180%);
    background-color: rgb(179, 243, 243);
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    font-size: 1rem;
    animation: motion .5s linear 0s infinite alternate;
    color: rgb(14, 0, 0);
}

.modal .project-color-tag .notification .point {
    width: 0;
    height: 0;
    border-top: 10px solid rgb(179, 243, 243);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 50%;
    top: -1px;
    transform: translate(-50%, 0);
}

.modal .color {
    position: relative;
    left: 83%;
    top: 18%;
}

.modal .project-title {
    width: 60%;
    height: 10%;
    margin-bottom: 30px;
    border: none;
    background-color: rgba(239, 237, 237, 0.586);
    outline: none;
    position: absolute;
    left: 50%;
    top: 40%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.modal .sub-title {
    width: 60%;
    height: 10%;
    margin-bottom: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgba(239, 237, 237, 0.586);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.modal .modal-p1 {
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 1rem;
}

.modal .modal-p1 span {
    color: red;
}

.modal .modal-p2 {
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 1rem;
}

.buttons {
    position: absolute;
    left: 18.5%;
    top: 75%;
    width: 63.5%;
    height: 4vw;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 40%;
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.buttons .create {
    background-color: rgb(179, 243, 243);
    border: none;
}


.buttons .create:hover {
    background-color: rgba(200, 248, 248, 0.747);
    cursor: pointer;
}

.buttons .cancel {
    background-color: rgba(211, 209, 209, 0.618);
    border: none;
}

.buttons .cancel:hover {
    background-color: rgba(211, 209, 209, 0.395);
    cursor: pointer;
}

