body {
  overflow-x: hidden;
}


.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(216, 216, 216);
  box-shadow: 0 1px 1px -1px black;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.header h1 {
  font-size: 24px;
  font-weight: 900;
  margin-left: 50px;
  color: rgba(4, 59, 141, 0.836);
}

.header p {
  margin-right: 30px;
  cursor: pointer;
}

/* sidebar */

.sidebar {
  width: 20%;
  height: 100%;
  padding-top: 45px;
  margin-top: -80px;
  position: fixed;
  top: 160px;
  z-index: 3;
  background-color: rgba(128, 128, 128, 0.089);
}

.sidebar .sidebar-menu {
  height: 30px;
  padding: 8px 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .home:hover, .today:hover, .important:hover {
  background-color: rgb(219, 219, 219);
  font-weight: 900;
}

.sidebar .home, .today, .important {
  cursor: pointer;
}

.sidebar img {
  width: 20px;
  margin-right: 15px;
  background-size: cover;
}

.sidebar .home h2, .today h2, .important h2 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-transform: capitalize;
}

.line {
  width: 80%;
  position: relative;
  top: 37px;
  left: 10%;
  border: 1px solid black;
}

.sidebar .projects {
  width: 90%;
  position: relative;
  top: 55px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

.sidebar .projects h2 {
  text-transform: capitalize;
  position: absolute;
  left: 60px;
  top: 7px;
}


.sidebar .projects .add-project {
  position: relative;
  right: -26px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  background-color: rgba(175, 169, 169, 0);
  border-radius: 30px;
}

.sidebar .projects .add-project:hover {
  background-color: rgba(175, 169, 169, 0.479);
}

.projects .projects-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  top: 15px;
  padding-left: 60px;
  background-color: blue;
}

.sidebar p {
  margin-right: 20px;
}

/* content */

.main-container {
  padding-top: 30px;
}

.content-container {
  width: 100%;
}

.search {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
  overflow: hidden;
  position: relative;
  top: 20px;
  left: 20%;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.089);
  z-index: 3;
}

.search img {
  height: 15px;
  margin-left: 10px;
  background-size: contain;
}

.search input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: transparent;
}

.main {
  margin : -73px 0 0 30px;
  height: 80.5vh;
}

.main h2 {
  font-size: 30px;
  font-weight: 900;
}

.main .tag {
  font-weight: 700;
  margin-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 1px -1px rgb(177, 177, 177);
  border-bottom: 1px solid rgb(233, 233, 233);
}

.main .tag .addmemo {
  margin-right: 70px;
  color: rgb(90, 90, 90);
  cursor: pointer;
}

.main .tag .addmemo:hover {
  color: black;
}